.custom-btn {
  border-radius: 0;
  text-decoration: none;
  border: none;
}

.custom-input {
  border-radius: 0;
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.overlay {
  position: fixed;
  background: rgba(255, 255, 255, .8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.container-fluid-custom {
  margin: 0 auto;
  padding-left: 15px;
  width: 100%;
}

.btn-icon {
  margin-right: 10px;
}

.custom-container {
  max-width: 1860px;
  margin: auto;
  padding: 0 20px
}

.custom-container.small-container {
  max-width: 1546px;
}

.custom-btn {
  border: none;
  transition: all .3s;
  padding: 10px 20px;
  i {
    margin-left: 10px;
  }
  &:hover {

  }
}

a {
  text-decoration: none;
  transition: all .3s;
  &:hover {
    color: $hover;
  }
}