$regular:  'gilroy-regularuploaded_file';
$regular-italic: 'gilroy-regularitauploadedfile';
$semibold-talic: 'gilroy-semiboldituploadedfile';
$thin-italic: 'gilroy-thinitalicuploadedfile';
$ultralight-italic:  'gilroy-ultralightuploadedfile';
$black-italic: 'gilroy-blackitaliuploadedfile';
$open-sans: 'Open Sans', sans-serif;
$header-bg: #004282;
$btn-bg: #cc0033;
$footer-bg: #333333;
$hover: #c51414;