.nav-holder {
    .nav {
        list-style: none;
        @extend .d-flex;

        svg, path {
            pointer-events: none;
        }
        li {
            &:hover, &.hover-menu-active {
                .drop-down  {
                    display: flex;
                }
            }
        }
        .brands {
            @extend .justify-content-between;
            svg {
                width: 124px;
            }
        }
        .drop-down {
            display: none;
            padding: 20px 30px;
            position: absolute;
            width: 100%;
            left: 0;
            top: 100%;
            background: #fff;
            border-top: 1px solid #6e716f;
            z-index: 3;
            @extend .align-items-center;
            flex-wrap: wrap;
            list-style: none;
        }
        .subnav {
           
           
            li {
                width: 22.6%;
            }
           ul {
               li {
                   width: 100%;
               }
           }
        }

      
        ul {

            list-style: none;
            a {
                @extend .d-flex;
                @extend .align-items-center;
                font-family: $open-sans;
                font-size: 14px;
                color: #333333;
                padding: 10px 0;
                
            }
            svg {
                width: 24px;
                height: 30px;
                fill: #004282;
                margin-right: 10px;
            }
        }
        li {
            margin-right: 57px;
            &:last-child {
                margin-right: 0;
            }
        }

        a {
            font-family: $open-sans;
            text-decoration: none;
            font-size: 14px;
            color: $footer-bg;
            &:hover {
                color: $hover;
            }
        }
    }

    .sub-nav {
        a {
            position: relative;
            &:after {
                content: '';
                background: url('../img/nav-arrow.png') no-repeat;
                width: 7px;
                height: 4px;
                display: block;
                top: 50%;
                transform: translateX(-50%);
                right: -18px;
                position: absolute;
                transition: all .3s;
            }
            &:hover {
                &:after {
                    background-position: 0 -7px;
                }
            }
        }

        ul {
            li {
                a {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.hamburger {
    width: 25px;
    height: 22px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 11;
    color: #fff;
    span {
      display: block;
      background: #fff;
      width: 25px;
      height: 3px;
      position: absolute;
      top: 0;
  
      &:after, &:before  {
        content: "";
        position: absolute;
        display: block;
        background: #fff;
        width: 25px;
        height: 3px;
        transition: transform .3s;
      }
      &:after {
        top: 8px;
      }
      &:before {
        top: 16px;
      }
    }
  }
  
  .nav-active {
    .hamburger  {
      span {
        background: none;
        &:after, &:before {
          top: 5px;
        }
  
        &:after {
          transform: rotate(-45deg);
        }
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .navigation-holder {
    clip-path:circle(0%);
    position: fixed;
    left: 0;
    top: 68px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.hamburger-holder, .mobile-btn {display: none;}
.social-mobile {display: none;}
.social-mobile {
    margin-left: 64px;
    align-items: center;
    .social-title {
        margin-right: 10px;
    }
    .social {
        list-style: none;
        display: flex;
        align-items: center;
        svg {
            width: 13px;
            fill: #666666;
            path {
                fill: #666666 !important;
            }
        }
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 1448px) {
    .header-top-social.social-desktop{
        display: none !important;
    }

    .social-mobile {display: flex;}

    .hamburger-holder {
        display: block;
        background: #cc0033;
        padding: 21px 21px;
        position: relative;
    }

    .header .mobile-btn {
        width: 100%;
        display: block;
        margin-left: 64px;
        margin-bottom: 20px;
       .header-btn {
            display: flex;
            justify-content: center !important;
            height: auto;
            max-width: 305px;
       }
    }


    .nav-active {
        .nav-holder { 
            z-index: -1;
        } 

        .header {box-shadow: none;     border-bottom: 1px solid #6e716f;}
    }

    .nav-holder {
        position: fixed;
        background: #f7f7f7;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
        align-items: baseline;
        flex-wrap: wrap;
        padding-top: 100px;

        .mobile-nav-scroll {
            max-height: 335px;
            overflow: auto;
            padding-bottom: 30px;
        }

        .nav {
            flex-wrap: wrap;
            position: relative;
            margin-top: 20px;
            padding: 0 64px;
            margin-bottom: 37px;

            li {
                line-height: 0;
                a {
                    padding: 0;
                }
            }

            .drop-down {
                display: none !important;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: #f7f7f7;
                width: 100%;
                max-height: 281px;
                overflow-y: auto;
                border: none;
                li {

                }
            }

            .brands {
                flex-wrap: wrap;
                li {
                    width: 100%;
                }
            }

            .active-sub-nav {
                .drop-down { 
                    display: flex !important;
                }
            }
            
            li {
                width: 100%;
                margin-right: 0;
                a {
                    padding: 20px 0;
                    display: block;
                }
            }
        }
    }

    .nav-active  {
        overflow: hidden;
        .nav-holder {display: block;}
    }
}

@media (max-width: 681px) {
    .nav-holder {
        padding-top: 130px;
    }
}

@media (max-width: 554px) {
    .header .mobile-btn .header-btn {
        max-width: inherit;
        width: 100%;
    }

    .header .mobile-btn {
        margin-left: 0;
        padding: 0 20px;
    }

    .social-mobile {
        margin-left: 20px;
    }
}
